body{
    background-image: url("../images/bgImg.jpg")
}
header{
    background-color: #ca6f32;
    color: white;
    font-size: 30px;
    padding:25px;
    margin:10px;
    width:250px;
}
#content{
    background-color: #fbe6cf;
    color: #6dac76;
    font-size: 20px;
    width: 450px;
    height:240px;
    padding:20px;
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
#random-Number{
    background-color: #53c987;
    width: 250px;
    height:80px;
    color: #5e6e71;
    font-size: 35px;
    margin:10px;
    padding:10px;
    float: left;
}
#win-lose{
    background-color: #3cfefe;
    width: 90px;
    height:80px;
    color: #6dac76;
    font-size: 17px;
    margin:10px;
    padding:10px;
    float: left;

}
#status,#wins,#loses{
    float: left;
    margin:10px;
}
#images{
    width: 600px;
    clear: both;
}
img{
    width:80px;
    height:80px;
}
img:hover{
    cursor: pointer;
}
.crystals{
    float: left;
    margin:10px;
}
h2,#yourTotalScore{
    background-color: #1fa397;
    color: white;
    width:250px;
    margin: 10px;
    padding: 5px;
    clear:both;

}
h2{
    font-size: 17px;
}
#yourTotalScore{
    height:90px;
    font-size: 30px
}
